<div style="text-align: center; background: #0366d6; padding: 1rem;">
  <a href="{{ site.baseurl }}/" style="color: white; margin: 0 1rem;">Home</a>
  <a href="{{ site.baseurl }}/about/" style="color: white; margin: 0 1rem;">About</a>
  <a href="{{ site.baseurl }}/research/" style="color: white; margin: 0 1rem;">Research</a>
  <a href="{{ site.baseurl }}/cv/" style="color: white; margin: 0 1rem;">CV</a>
  <a href="{{ site.baseurl }}/publications/" style="color: white; margin: 0 1rem;">Publications</a>
  <a href="{{ site.baseurl }}/contact/" style="color: white; margin: 0 1rem;">Contact</a>
</div>
